{% if videos.items == null %}
<div class="text-danger text-center w-100">No videos to display in this category</div>
{% else %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for video in videos %}

                <div class="col-12 col-md-6 col-lg-4 col-sm-12">
                    <div class="card mb-4 shadow-sm">
                        <div align="center" class="embed-responsive embed-responsive-16by9">
                            <iframe class="" src="{{ video.path }}" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h3>{{ video.title }}</h3>
                            <div class="mb-2">
                                <i class="fa fa-thumbs-up">
                                    <small class="text-muted number-of-likes-{{ video.id }}">({{ video.usersThatLike.count }})</small>
                                </i>&nbsp;
                                <i class="fa fa-thumbs-down">
                                    <small class="text-muted mr-2 number-of-dislikes-{{ video.id }}">({{ video.usersThatDontLike.count }})</small>
                                </i>
                                <small class="text-muted">{{ video.duration }} mins</small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group mx-auto mt-1">

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ include ("front/includes/_likes.html.twig", {"video": video}) }}
                                    {% else %}
                                        <div>
                                            <p class="text-center text-primary ml-2 w-100">
                                                <a href="{{ path("login") }}">Login</a> or
                                                <a href="{{ path('register') }}">Signup</a>
                                                in order to like and comment
                                            </p>

                                            <p><a href="{{ path("video_details", {"video": video.id}) }}">Comments
                                                    ({{ video.comments.count }})</a></p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

</div>