{% extends "admin/base.html.twig" %}

{% block customstylesheet %}
    <style>
        .fa-ul > li {
            margin-top: 15px;
        }
    </style>
{% endblock %}


{% block mainadmin %}
    <h2>Categories list</h2>

    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-6 mx-auto mb-3">
            {{ form_start(form, {"attr": {"novalidate": "novalidate", "class": "form"}}) }}
            {{ form_row(form.name, {
                "label": "Name:",
                "attr": {
                    "class": "form-control mb-2",
                    "placeholder": "Category Name"
                }
            }) }}
            <label for="inlineFormCustomSelect">Parent:</label>
            <select name="category[parent]" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                {{ render(controller("App\\Controller\\Admin\\MainController::getAllCategories")) }}
            </select>
            <div class="invalid-feedback text-info">
                {{ form_errors(form.name) }}
            </div>
            <input type="submit" class="btn btn-primary mt-3" value="Validate">
            {{ form_end(form) }}
        </div>

    </div>


    <!-- LIST OF CATEGORIES -->
    {{ categories.categoryList|raw }}



{% endblock %}
