{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="mt-5">{{ video.title }}</h1>
    <div class="row justify-content-center mt-4 mb-5">
        <div align="center" class="embed-responsive embed-responsive-16by9 w-75 h-75">
            <iframe class="" src="{{ video.path }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <hr>

    <div class="row m-2 mt-5">
        <a id="video_comments"></a>
        {% for comment in video.comments %}
            {% if comment == null %}
                <div class="w-100 text-center display-4 text-danger">There is no comment for this video</div>
            {% else %}
                <div class="col-12">
                    <ul class="list-unstyled text-left">
                        <li class="media">
                            <img class="mr-3" src="{{ asset("assets/img/user.jpg") }}" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="w-100 row align-items-center ml-2">
                                    <h5>{{ comment.user.name ~ " " ~ comment.user.lastname }}</h5>
                                    <small class="ml-2 text-dark"> comment
                                        added {{ comment.getCreatedAt()|ago }}</small>
                                </div>
                                <div class="w-75 row align-items-center ml-2">
                                    <p>{{ comment.content }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr>
            {% endif %}
        {% endfor %}

    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6 col-sm-8">
                <form method="POST" action="{{ path("new_comment", {"video": video.id}) }}">
                    <div class="form-group">
                        <label for="comment">Add a comment</label>
                        <textarea required class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-50">Add</button>
            {% if not app.user %}
                <div class="text-dark my-3">You need to be <a href="{{ path("login") }}">logged</a> in order to send comment</div>
            {% endif %}
                </form>
        </div>
    </div>

{% endblock %}

